@{
  Layout = "_Layout";
}

<h1>Eau Clair Hair Salon</h1>

<button class="btn btn-dark">@Html.ActionLink("See all stylists", "Index", "Stylists")</button>
    <button class="btn btn-dark">@Html.ActionLink("Add a stylist", "Create", "Stylists")</button>
    <button class="btn btn-dark">@Html.ActionLink("See all clients", "Index", "Clients")</button>