@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

  @using (Html.BeginForm())
  {
    <button class="btn btn-light" type="submit">YES</button>
  }
  @Html.ActionLink("Back to List", "Index")